.contactPage{
    padding:5vh 0;
    text-align:center;
    margin:20vh auto;
}
.contactPage h1{
    font-size: 4rem;
    color: white;
    font-weight:700;
    line-height: 1;
    
}
.contactPage a{
    text-decoration: none;
    
}
.contactPage button{
    padding: 10px 20px;
    border: none;
    background-color: #222020;
    color: white;
    width:fit-content;
    margin: 0 auto;
    
}
.contactPage button:hover{
    
    background-color: #575555;
   
}
.contactPage arrow{
    
    background-color: white;
}

@media(min-width:760px){
    .contactPage h1{
        
    color: white;
    font-weight:700;
    line-height: 1;
    font-size:120px;
}
}