.workCard{
    width:100%;
}
.workCard img{
    width:100%;
}

.workcard p{
    font-weight:700;
}
.workCard__details{
    background-color: rgb(34, 34, 34);
    padding: 20px 10px;
    border-radius: 10px;
}
.line{
    background-color: #b2b2b2;
    width: 100%;
    height:1px;
}
.iconStyle{
    color: #b2b2b2
}